

main {
    display: flex;
    height: auto;
}

#list{
    background-color: lightcoral;
    flex: 2;
    padding: 24px;
}

#form{
    background-color: beige;
    flex: 2;
    padding: 24px;
}

/*task section*/

.task-container{
    margin: 15px;
    border-left: 4px solid gray;
    border-radius: 8px;
    background-color: aquamarine;
    box-shadow: 0 2px 4px darkred;
}

.task-container:hover{
    box-shadow: 0 4px 8px darkslategrey;
}

.task{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-information{
    flex: 3;
}

.task-information h5{
    color: blue;
    font-size: 18px;
}

.task-information p{
    margin: 0;
    color: yellowgreen;
    font-size: 14px;
}

.task-status{
    background-color: khaki;
    color: orange;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
}

.task-date-budget{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 14px;
    color: cornflowerblue;
}



